@layer defaults;

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./InterVariable.woff2") format("woff2");
}
@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("./InterVariable-Italic.woff2") format("woff2");
}


@layer defaults {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	button, input:where(:not([type="range"], [type="checkbox"])) {
		font: inherit;
		background: none;
		border: none;
		color: inherit;
		appearance: none;
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	.spacer {
		width: 0;
		height: 0;
		flex-grow: 1;
	}

	svg.icon .check {
		display: none;
	}

	.icon.feather-play-circle > path:first-child {
		fill: var(--player-play-icon-stroke);
		stroke: var(--player-play-icon-stroke);
        clip-path: polygon(0% 0%, 0% 100%, 39% 100%, 39% 29%, 72.22% 48.50%, 39% 66.59%, 39% 100%, 100% 100%, 100% 0%);
	}
	.icon.feather-play-circle > path:last-child {
		fill: var(--player-play-icon-fill);
		stroke: var(--player-play-icon-fill);
	}

	:root:not(.cozy, .compact) {
		--tab-navigation-background-color: #242424;
		--tab-navigation-text-color: #FFF;
		--tab-navigation-icon-size: 45px;

		--background-color: #282828;
		--text-color: #FFF;

		--album-background-strength: 0.3;
		--album-background-saturation: 4;
		--album-background-blur-size: calc(0.15 * var(--viewport-width));

		--icon-default-fill: transparent;
		--icon-default-stroke: #C5C5C5;
		--icon-active-fill: var(--icon-default-fill);
		--icon-active-stroke: #FFAE00;
		--icon-hover-fill: var(--icon-default-fill);
		--icon-hover-stroke: var(--text-color);
		--icon-active-stroke: #FFAE00;

		--history-icon-size: 18px;
		--alternating-row-background: rgba(128, 128, 128, 0.1);

		--player-play-icon-stroke: var(--text-color);

		/*
			In cozy player, this defines both height and width.
			In compact player, this defines height, but width is dependent on icon aspect ratio.
		*/
		--player-main-icon-size: 40px;
		--player-icon-size: 32px;
		--player-main-icons-stroke: var(--text-color);
		--player-main-icons-fill: var(--icon-default-fill);

		--player-small-icon-size: 18px;
		--player-minor-icons-stroke: var(--icon-default-stroke);
		--player-minor-icons-fill: var(--icon-default-fill);

		--stations-play-background-color: rgba(0, 0, 0, 0.5);
		--stations-active-station-background: rgba(255, 157, 0, 0.1);
		--stations-active-station-color: white;

		--color-scheme-type: light dark;



		--font-family: InterVariable, Arial, system-ui, sans-serif;

		color-scheme: var(--color-scheme-type, light dark);
	}

	html.cozy, html.compact {
		font-size: var(--font-size);
	}

	html.cozy, .cozy body,
	html.compact, .compact body {
		background-color: #333;
	}

	html.cozy, .cozy body,
	html.compact, .compact body,
	#anesidora {
		height: var(--viewport-height);
		width: var(--viewport-width);
	}
	
}