::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    visibility: hidden;
}
::-webkit-scrollbar-track-piece {
    background-color: var(--background);
}
::-webkit-scrollbar-thumb:vertical {
    background-color: var(--accent-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0;
    box-shadow: 0 0 3px var(--accent-color);
    background-clip: padding-pox;
    -webkit-background-clip: padding-box;
}
:root {
    --width: 100%;
    --height: 100%;
    --transitiontime: 350ms;
    --size: calc(100vw / 4);
    --background: #3a3a3a;
    --font-family: Inter, sans-serif;
    --font-weight: 400;
    --font-size: 12px;
    --text-color: white;
    --inverse-color: black;
    --accent-color: #00F782;
    --accent-color-darker: #00AE5C;
    --tabSize: 20px;
    --warning-bgcolor: #ff3722;
    --warning-color: white;
    --album-bg: #6a6c26;
    --button-color: white;
    --active-button-color: #ffa700;
    --album-color: red;
    --tabOffset: 5px;
    overflow: hidden;
}
* {
    outline: none;
    box-sizing: content-box;
}
html {
    padding: 0;
    margin: 0;
}
body {
    overflow:hidden;
    padding: 0;
    margin: 0;
    overflow:hidden;
    background:none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-decoration: none;
    color: var(--text-color);
    width: 100vw;
    resize: both;
    height: 100vh;
}
a {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
a:hover {
  text-decoration: underline;
}
#anesidora{
    width: 100vw;
    height: 100vh;
    background: var(--background);
}
.panel {
    display: inline-flex;
    overflow-x: clip;
    flex-direction: row;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    flex: 0 0 0;
    max-width: 100vw;
    max-height: 100vh;

    align-items: center;
    flex-direction: column;
}
#panels {
    transform: translateX(100vw);
    transition: transform var(--transitiontime);
    display: flex;
    align-items: normal;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (min-width: 800px) {
    #historyPanel {
        --history-column-count: var(--history-column-count-columns, 6);
    }
}
@media (max-width: 799px) {
    #historyPanel {
        --history-column-count: var(--history-column-count, 3);
    }
}

#historyPanel {
    --size: max(calc(var(--width, 100vw) / var(--history-column-count, 3) - 1rem), 8vw);
    display: inline-grid;
    grid-template-columns: repeat(var(--history-column-count, 3), minmax(8vw, 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

#stationFilterInput {
    height: 36px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 0;
    flex-grow: 1;
}

#stationRefreshButton {
    vertical-align: middle;
    border: solid 1px var(--accent-color);
    box-sizing: border-box;
    height: 36px;
    border-radius: 100%;
    width: 36px;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 800px) {
    #midPanel {
        --cols: var(--station-columns, 6);
    }
}
@media (max-width: 799px) {
    #midPanel {
        --cols: var(--cols, 3);
    }
}
#stationListDiv {
    --size: max(calc(var(--width, 100vw) / var(--cols, 3) - 1rem), 8vw);
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(var(--cols, 3), minmax(8vw, 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

#midPanel {
    overflow-y: auto;
}

.innerInnerContainer > *{
    display: inline-block;
    margin: calc(var(--size) / 20);
}
#scrubberCell {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

img[src=""]:not(#noopac), img:not([src]):not(#noopac) {
    opacity: 0;
    max-height: 0;
}
#ghosts {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    height: 100%;
    width: 100%;
    grid-area: 1/1;
    z-index: 4;
    pointer-events: none;
}
#centerGhost {
    height: 100%;
    aspect-ratio: 1/1;
}

#coverLinkCell {
    width: 100%;
    height: 0;
    flex-grow: 10;
    max-height: 100vw;
    transition: max-height 350ms;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100%;
}
#covers {
    display: flex;
    grid-area: 1/1;
    height: 100%;
    width: 100vw;
    padding-right: 50vh;
    padding-left: 50vh;
    box-sizing: border-box;
    overflow-x: scroll;
    
    scrollbar-width: 5px; /* Firefox */
    -ms-overflow-style: 5px;  /* IE 10+ */

    scroll-behavior: auto;
    scroll-snap-type: y proximity;
}
#covers > * {
    height: 100%;
    aspect-ratio: 1/1;
    grid-area: 1/2;
    flex-shrink: 0;
    display: grid;
    overflow: clip;
    grid-auto-columns: 100%;
    grid-auto-rows: 100%;
    transform: scale(0.9);
    transition: transform 350ms;
}
#covers > .current {
    scroll-snap-align: center;
    transform: scale(1);
    z-index: 3;
}

div#gradLeft {
    background-image: linear-gradient(
        -90deg,
        transparent,
        var(--background) 200%
    );
    transform: scaleY(1.1);
}

div#gradRight {
    background-image: linear-gradient(
        90deg,
        transparent,
        var(--background) 200%
    );
    transform: scaleY(1.1);
}

#scrubber {
    border-radius: 0;
    border: 0;
}

.hoverImg {
    color: var(--button-color);
}
#prevTab, #nextTab {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
    background: none;
}
:is(#prevTab, #nextTab) > button {
    opacity: 0.5;
    display: inline-block;
    width: var(--tabSize);
    height: var(--tabSize);
    font-size: 0.1px;
    color: transparent;
    cursor: pointer;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    pointer-events: all;
        transition: opacity 250ms;
        z-index:99;
        filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
}
:is(#prevTab, #nextTab) > button:hover {
    opacity: 0.9;
}

#prevTab {
    left: var(--tabOffset);
}
#nextTab {
    right: var(--tabOffset);
}
#prevTab > button {
    background-image: url("/images/new/leftarrow.svg");
}
#nextTab > button {
    background-image: url("/images/new/rightarrow.svg");
}

.labeled-input {
    width: min-content;
    position: relative;
    padding-top: 1em;
}
.labeled-input > label {
    position: absolute;
    top: 5px;
    left: 0.7rem;
    color: var(--color);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.7rem;
    background: var(--background);
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    user-select: none;
}
.labeled-input > input, #save {
    background: none;
    border: solid 1px var(--accent-color);
    height: 1.2em;
    font-size: larger;
    padding: 7px;
    box-sizing: content-box;
    border-radius: 13px;
    color: var(--text-color);
    width: auto !important;
    transition: background-color 250ms, border-color 250ms, color 250ms;
}

#rightPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#save {
    margin-top: 1em;
    padding: 5px 15px !important;
    font-weight: lighter;
}
#login {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#save:hover {
    background: var(--accent-color);
    color: var(--inverse-color);
}
#save:focus {
    filter: drop-shadow(0 0 5px var(--accent-color));
}
#pwWarning, #unWarning {
    position: absolute;
    top: 35%;
    left: -17%;
    font-size: 2em;
}
#save:active {
    filter: drop-shadow(0 0 5px var(--accent-color));
}
#login a {
    margin-top: 1em;
}
#login:before {
    content: "Log into Pandora";
    font-size: 24px;
}
.labeled-input > input:focus {
    border: solid 1px var(--accent-color-darker);
}
.labeled-input.warning::before {
    opacity: 1;
}
.labeled-input::before {
    position: absolute;
    left: -1.5em;
    z-index: 100;
    top: 50%;
    background: var(--warning-bgcolor);
    color: var(--warning-color);
    content: "!";
    width: 13px;
    height: 13px;
    border-radius: 100%;
    text-align: center;
    font-weight: bolder;
    opacity: 0;
    transition: opacity 250ms;
}


.historyCover {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: 100% !important;
    background-color: var(--album-bg) !important;
    display: inline-block;
    position: absolute;
}
.historyCover i {
    position: absolute;
    font-size: var(--size);
}
.historyOverlay {
    width: 100%;
    height: 100%;
    background: none;
    transition: opacity 250ms;
    pointer-events: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    z-index: 14;
    position: absolute;
    top: 0;
    background: radial-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1));
}
.actions > div, .actions > a {
    width: var(--imgsize);
    height: var(--imgsize);
    /*! background: white; */
    margin: calc(var(--imgsize)/10);
    pointer-events: all;
    cursor: pointer;
    --imgsize: calc(var(--size) / 2);
    font-size: var(--imgsize);
}
.bx-download:hover {
    text-decoration: none;
}
.bxs-like, .bxs-dislike {
    color: var(--active-button-color);
}
.hoverImg:not([class*="bxs"]):hover {
    color: var(--accent-color);
}
.hoverImg {
    transition: color 250ms;
}
.actions > div > span {
    --icon-size: calc(var(--size) / 4) !important;
}
.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.hoverImg {
    cursor: pointer;
}

#historyDiv .actions > div, #historyDiv .actions > a {
    --imgsize: calc(var(--size) / 4) !important;
}

button {
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.historyItem {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    cursor: default;
    user-select: none;
    flex: 0;
    height: min-content;
    border: 0;
    margin: 0;
}
.historyItem > span {
    font-weight: lighter;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 4px 4px;
    width: 100%;
    text-align: center;
    user-select: text;
    padding: 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
span, a, #nowPlayingContainerCell, #nowPlayingContainer, #nowPlaying {
    user-select: text;
}

.holder {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}
.holder:hover .historyOverlay {
    opacity: 1;
}



#stationHeaderdiv {
    overflow: hidden;
    height: max-content;
    padding: 13px;
    margin-bottom: 0;
    display: flex;
    background: var(--background);
    position: sticky;
    top: 0;
    z-index: 15;
    box-shadow: 0 3px 5px var(--background);
    width: 100%;
    box-sizing: border-box;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#stationHeaderdiv > label {
    left: 25px;
}

#historyDiv:empty:before {
    content: "History is empty";
    width: 100%;
    text-align: center;
    display: block;
    font-size: calc(100vw / 7);
    color: rgba(255,255,255,0.3);
    animation: fadeIn 500ms ease-in-out;
}
#historyDiv:empty {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Volume */

#volume {
    width: calc(100vw/2);
    transition: transform 150ms;
    border: 0;
}
#volumeCell {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.activeStation {
    filter: drop-shadow(0 0 7px var(--accent-color));
    transition: filter 250ms;
}

.bx {
    font-size: 2rem;
}

input[type=range] {
    appearance: none;
    background: none;
    margin: 0;
    padding: 0;
    height: 5px;
    width: 100%;
    vertical-align: top;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 100%;
    width: 100%;
    cursor: default;
    background: white;
}
input[type=range]::-moz-range-track {
    height: 100%;
    width: 100%;
    cursor: default;
    background: white;
}

input[type=range]::-moz-range-thumb {
    opacity: 0;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    opacity: 0;
    cursor: pointer;
}

.range {
    position: relative;
    width: 100%;
    height: 5px;
}

.rangeShow {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--accent-color);
    pointer-events: none;
}

#volRan {
    border-radius: 5px;
    overflow: hidden;
}

#coverArt i {
    font-size: 100vw;
}

.bx-album {
    color: var(--album-color);
}



/** Hucario edits - 10/12/2021 */


.historyItem > span {
    font-weight: 400;
}

.scrollerText {
    text-align: left;
    font-weight: 600;
    position: relative;
}

a#artistLink {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.5;
    transition: opacity 250ms;
}

#artistLink:hover,
#artistLink:active,
#artistLink:focus {
    opacity: 1;
}

.scrollerContainer {
    min-height: 8em;
    height: auto;
}
a#artistLink, a#titleLink, a#albumLink {
    white-space: break-spaces;
    text-decoration: none;
    display: block;
    overflow-wrap: break-word;
    max-width: max-content;
}

a#titleLink {
    font-size: 3em;
    font-weight: 600;
}

#albumLink {
    font-size: 1.4em;
    font-weight: 600;
    opacity: 0.5;
    transition: opacity 250ms;
}

#albumLink:hover, #albumLink:active, #albumLink:focus {
    opacity: 1;
}

span#dash:empty {
    display: none;
}

div#scrubberCell {
    margin-top: 2em;
    width: 80%;
    position: static;
    padding-bottom: 1.5rem;
}

#scrubberCell .range {
    height: 0.5rem;
    border-radius: 50vw;
    overflow: hidden;
}

input#scrubber {
    height: 100%;
}
.musicInfo {
    width: 80%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
#scrubberCell {
    --accent-color: #6404a1;
}

div#nowPlayingContainerCell {
    margin-bottom: 0;
}
.rangeShow {
    transition: transform 1s;
    transform-origin: left;
    transform: scaleX(var(--width));
    width: 100%;
}

:is(div.range:hover, div.range:focus-within, div.range:active) > .rangeShow {
    transition: transform 250ms;
}

:is(#scrubberCell:hover, #scrubberCell:focus-within, #scrubberCell:active) > #timestamp {
    opacity: 1;
}

#timestamp {
    padding-top: 0.4rem;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 600;
    opacity: 0.7;
    font-kerning: 5px;
    color: white;
    transition: opacity 250ms;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #c5c5c5;
}
input[type=range]::-moz-range-track {
    background: #c5c5c5;
}


.innerContainer {
    position: static;
}


.centerAgain .grid-cell {
    display: inline-block;
    font-size: 3.5rem;
}

.centerAgain .grid-cell:first-of-type > button {
    margin-left: -0.3em;
}

.centerAgain .grid-cell i {
    font-size: inherit;
}

.centerAgain .grid-cell button {
    font-size: inherit;
}

.innerInnerContainer .grid-cell {
    opacity: 0.6;
    transition: opacity 250ms;
}
.innerInnerContainer:is(:hover,:focus-within,:focus, :focus-visible) .grid-cell {
    opacity: 0.7;
}
.innerInnerContainer .grid-cell:is(:hover,:focus-within,:focus, :focus-visible) {
    opacity: 1;
}

#scrubberCell {
    text-align: center;
}

#dash {
    font-size: 2rem;
    font-weight: 900;
}

#dash:not(:empty) ~ .playPauseButtonCell {
    filter: drop-shadow(0 0 20px gold) drop-shadow(0 0 0 gold);
    animation: heyListen 2s infinite;
}

@keyframes heyListen {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
div#volIcon {
    margin-right: 1em;
}
#volumeCell {
    opacity: 0.3;
    transition: opacity 250ms;
    transition-delay: 1s;
}
#volumeCell:hover,#volumeCell:active#volumeCell:focus,#volumeCell:focus-within,#volumeCell:focus-visible {
    opacity: 1;
    transition-delay: 0ms;
}
.innerInnerContainer, #volumeCell {
    user-select: none;
}

.info, .actualCover {
    grid-area: 1 / 1;
}

.actualCover {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: none;
    will-change: transform, opacity;
    transition: opacity 150ms, transform 150ms;
}

.info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: min(2rem, 1vw);
    font-size: 2rem;
    font-weight: 700;
    transform: scale(0.99);
    opacity: 0;
    will-change: transform;
    transition: transform 350ms, opacity 350ms;
    text-align: right;
}

.info a {
    text-decoration: none;
}
span.position {
    font-size: min(2rem, 2vw);
    opacity: 0.7;
    position: absolute;
    right: min(2rem, 1vw);
    top: min(2rem, 1vw);
}
.leftAlign .position {
    left: min(2rem, 1vw);
    right: unset;
}

.remove {
    position: absolute;
    color: inherit;
    right: 0;
    top: 0;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 250ms;
}

.remove:hover {
    opacity: 1;
}

:is(.remove, .coverPlay):not(.leftAlign :is(.remove, .coverPlay)) {
    display: none;
    animation: coverItemsOut 250ms;
}

@keyframes coverItemsOut {
    0% {
        opacity: 0.7;
        display: block;
    }
    100% {
        opacity: 0;
        display: block;
    }
}

.info .author {
    font-weight: 600;
    opacity: 0.5;
    font-size: min(1.5rem, 2vw);
}

#covers > *:not(.current):hover > .info, #covers > .noCover:not(.current) > .info {
    transform: none;
    opacity: 1;
}

#covers > *:not(.current):hover > .actualCover, #covers > .noCover:not(.current) > .actualCover {
    opacity: 0.2;
    transform: scale(0.99);
}

.covers::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 3px;
}

.current .info {
    pointer-events: none;
}
.leftAlign .info {
    align-items: start;
    text-align: left;
}

.songTitle {
    font-size: min(3rem, 3vw);
    font-weight: 600;
}

.albumTitle {
    font-size: min(1.4rem, 2vw);
    opacity: 0.5;
    font-weight: 600;
}

.coverActions {
    padding: min(0.3rem, 1vw) 0;
    opacity: 0.5;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: opacity 250ms;
}
.coverActions :is(.bxs-dislike, .bxs-like) {
    cursor: default;
    pointer-events: none;
}

.coverActions:hover {
    opacity: 1;
}

.coverActions > * {
    display: inline-flex;
    height: max-content;
}

.coverActions > * > * {
    font-size: min(3rem, 3vw);
    height: max-content;
}



button#back {
    grid-area: 1/1;
    width: max-content;
    z-index: 9;
    height: max-content;
    align-self: start;
    color: white;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 900;
    padding: 0.1rem 0.6rem;
    background: #00000099;
    margin: 2rem 3rem;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 350ms;
    animation: backIn 350ms;
}

#back.out {
    opacity: 0;
    display: none;
    animation: backOut 350ms;
}

@keyframes backOut {
    0% {
        display: flex;
        opacity: 1;
    }
    100% {
        display: flex;
        opacity: 0;
    }
}
@keyframes backIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}