::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    visibility: hidden;
}
::-webkit-scrollbar-track-piece {
    background-color: var(--background);
}
::-webkit-scrollbar-thumb:vertical {
    background-color: var(--accent-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0;
    box-shadow: 0 0 3px var(--accent-color);
    background-clip: padding-pox;
    -webkit-background-clip: padding-box;
}
:root {
    --width: 0;
    --height: 0;
    --transitiontime: 350ms;
    --size: calc(var(--width) / 4);
    --background: #3a3a3a;
    --font-family: Verdana, Arial, sans-serif;
    --font-size: 12px;
    --text-color: white;
    --inverse-color: black;
    --accent-color: #00F782;
    --accent-color-darker: #00AE5C;
    --tabSize: 20px;
    --warning-bgcolor: #ff3722;
    --warning-color: white;
    --album-bg: #6a6c26;
    --button-color: white;
    --active-button-color: #ffa700;
    --album-color: red;
}
.container {
    flex-grow: 1;
    height: 100%;
    background: var(--background);
}
.switch {
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
    pointer-events: none;
}
* {
    outline: none;
    box-sizing: content-box;
}
html {
    padding: 0;
    margin: 0;
}
body {
    overflow:hidden;
    padding: 0;
    margin: 0;
    overflow:hidden;
    background:none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-decoration: none;
    color: var(--text-color);
    width: var(--width);
    height: var(--height);
}
a {
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-decoration: none;
    color: var(--text-color);
    font-weight: lighter;
}
a:hover {
  text-decoration: underline;
}
.deadLink {
    text-decoration: none;
}
#anesidora{
    position:absolute;
    width: var(--width);
    height: var(--height);
    /*! overflow: hidden; */
    background: var(--background);
}
.scrollerContainer
{
    width: 200px;
    position: absolute;
    display: block;
    overflow: hidden;
    height: 2em;
    font-size: calc(var(--font-size) + 5px);
}
.scrollerText
{
    left: 0;
    position: absolute;
    white-space: nowrap;
}
.panel {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--width);
    height: var(--height);
    transition: left var(--transitiontime);
}

#historyDiv {
    overflow-x: hidden;
    overflow-y: auto;
}

#stationHeaderDiv {
    height: 30px;
    width: 100%;
}

#stationFilterInput {
    height: 36px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 0;
    flex-grow: 1;
}

#stationRefreshButton {
    vertical-align: middle;
    border: solid 1px var(--accent-color);
    box-sizing: border-box;
    height: 36px;
    border-radius: 100%;
    width: 36px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#stationListDiv {
    height: calc(100% - 55px);
    margin: 0;
    overflow: auto;
    
}
#stationList {
    width: 100%;
    height: 100%;
}
.innerInnerContainer > *{
    display: inline-block;
    margin: calc(var(--size) / 20);
}
#nowPlayingContainerCell {
    width: 90%;
    height: min-content;
    margin-top: 0.6rem;
    margin-bottom: -14px;
}
.scrollerContainer {
    width: 100%;
    position: relative;
}
.scrollerText {
    transition: left 3s;
    min-width: 100%;
    text-align: center;
}
#scrubberCell {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#coverLink {
    padding: 0;
    margin: 0;
}
#coverArt {
    min-width: var(--width);
    transition: width 350ms;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    
    width: var(--width);
    height: var(--width);
    background-color: var(--album-bg);
}
.slight-margin {
    margin-left: 4%;
    margin-right: 3%;
}

.innerContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: calc(100% - var(--width));
    display: flex;
    flex-direction: row;
    align-items: center;
}


#coverLinkCell {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
}
#scrubber {
    border-radius: 0;
    border: 0;
}
.ui-slider-handle {
    opacity: 0;
}
.ui-slider-horizontal .ui-slider-range {
    border: 0;
    border-radius: 0;
    background: var(--accent-color);
}

.hoverImg {
    color: var(--button-color);
}
.switch > * {
    pointer-events: auto;
}
#prevTab, #nextTab {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
    background: none;
}
#prevTab > span, #nextTab > span {
    opacity: 0.5;
    display: inline-block;
    width: var(--tabSize);
    height: var(--tabSize);
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    pointer-events: all;
        transition: opacity 250ms;
        z-index:99;
        filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
}
#prevTab > span:hover, #nextTab > span:hover {
    opacity: 0.9;
}

#prevTab {
    left: 0;
}
#nextTab {
    right: 0;
}
#prevTab > span {
    background-image: url("/images/new/leftarrow.svg");
}
#nextTab > span {
    background-image: url("/images/new/rightarrow.svg");
}

.labeled-input {
    width: min-content;
    position: relative;
    padding-top: 1em;
}
.labeled-input > label {
    position: absolute;
    top: 5px;
    left: 0.7rem;
    color: var(--color);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.7rem;
    background: var(--background);
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    user-select: none;
}
.labeled-input > input, #save {
    background: none;
    border: solid 1px var(--accent-color);
    height: 1.2em;
    font-size: larger;
    padding: 7px;
    box-sizing: content-box;
    border-radius: 13px;
    color: var(--text-color);
    width: auto !important;
    transition: all 250ms;
}

#rightPanel > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#save {
    margin-top: 1em;
    padding: 5px 15px !important;
    font-weight: lighter;
    transition: all 250ms;
}
#login {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#save:hover {
    background: var(--accent-color);
    color: var(--inverse-color);
}
#save:focus {
    filter: drop-shadow(0 0 5px var(--accent-color));
}
#pwWarning, #unWarning {
    position: absolute;
    top: 35%;
    left: -17%;
    font-size: 2em;
}
#save:active {
    filter: drop-shadow(0 0 5px var(--accent-color));
}
#login a {
    margin-top: 1em;
}
#login:before {
    content: "Log into Pandora";
    font-size: 24px;
}
.labeled-input > input:focus {
    border: solid 1px var(--accent-color-darker);
}
.labeled-input.warning::before {
    opacity: 1;
}
.labeled-input::before {
    position: absolute;
    left: -1.5em;
    z-index: 100;
    top: 50%;
    background: var(--warning-bgcolor);
    color: var(--warning-color);
    content: "!";
    width: 13px;
    height: 13px;
    border-radius: 100%;
    text-align: center;
    font-weight: bolder;
    opacity: 0;
    transition: opacity 250ms;
}


.historyCover {
    width: var(--size) !important;
    height: var(--size) !important;
    background-size: 100% !important;
    background-color: var(--album-bg) !important;
    display: inline-block;
    position: absolute;
}
.historyCover i {
    position: absolute;
    font-size: var(--size);
}
.historyOverlay {
    width: 100%;
    height: 100%;
    background: none;
    transition: all 250ms;
    pointer-events: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    z-index: 14;
    position: absolute;
    top: 0;
    background: radial-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1));
}
.actions > div, .actions > a {
    width: var(--imgsize);
    height: var(--imgsize);
    /*! background: white; */
    margin: calc(var(--imgsize)/10);
    pointer-events: all;
    cursor: pointer;
    --imgsize: calc(var(--size) / 2);
    font-size: var(--imgsize);
}
.bx-download:hover {
    text-decoration: none;
}
.bxs-like, .bxs-dislike {
    color: var(--active-button-color);
}
.hoverImg:not([class*="bxs"]):hover {
    color: var(--accent-color);
}
.hoverImg {
    transition: color 250ms;
}
.actions > div > span {
    --icon-size: calc(var(--size) / 4) !important;
}
.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.hoverImg {
    cursor: pointer;
}

#historyDiv .actions > div, #historyDiv .actions > a {
    --imgsize: calc(var(--size) / 4) !important;
}

button {
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.historyItem {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: var(--size);
    padding: 3%;
    cursor: default;
    user-select: none;
    flex: 0;
    height: min-content;
    border: 0;
    margin: 0;
}
.historyItem > span {
    font-weight: lighter;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 4px 4px;
    width: 100%;
    text-align: center;
    user-select: text;
    padding: 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
* {
    user-select: none;
}
span, a, #nowPlayingContainerCell, #nowPlayingContainer, #nowPlaying {
    user-select: text;
}

.holder {
    position: relative;
    width: var(--size);
    height: var(--size);
}
.holder:hover .historyOverlay {
    opacity: 1;
}



#stationHeaderdiv {
    width: 90%;
    overflow: hidden;
    height: 26px;
    padding: 13px;
    margin-bottom: 0;
    display: flex;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#stationHeaderdiv > label {
    left: 25px;
}

.flex-2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Make it default onto the player controls 
#historyPanel {
    left: calc(var(--width) * -1);
}
#leftPanel {
    left: 0;
}
#midPanel {
    left: calc(var(--width) * 1);
}
#rightPanel {
    left: calc(var(--width) * 2);
}
*/

/* Make an empty history panel look less janky */

#historyDiv:empty:before {
    content: "History is empty";
    width: 100%;
    text-align: center;
    display: block;
    font-size: calc(var(--width) / 7);
    color: rgba(255,255,255,0.3);
    animation: fadeIn 500ms ease-in-out;
}
#historyDiv:empty {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Volume */

#volumeCell > img {
    width: calc(var(--width) / 10);
    pointer-events: none;
}
#volume {
    width: calc(var(--width)/2);
    border: 0;
}
#volumeCell {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: -8px;
}
#volume .ui-slider-handle {
    opacity: 1;
    background: white;
    border: 0;
    height: 10px;
    width: 10px;
    top: -3px;
    border-radius: 100%;
}

.activeStation {
    filter: drop-shadow(0 0 7px var(--accent-color));
    transition: filter 250ms;
}

.bx {
    font-size: 2rem;
}

input[type=range] {
    appearance: none;
    background: none;
    margin: 0;
    padding: 0;
    height: 5px;
    width: 100%;
    vertical-align: top;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 100%;
    width: 100%;
    cursor: default;
    background: white;
}
input[type=range]::-moz-range-track {
    height: 100%;
    width: 100%;
    cursor: default;
    background: white;
}

input[type=range]::-moz-range-thumb {
    opacity: 0;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    opacity: 0;
    cursor: pointer;
}

.range {
    position: relative;
    width: 100%;
    height: 5px;
}

.rangeShow {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--accent-color);
    pointer-events: none;
}

#volRan {
    border-radius: 5px;
    overflow: hidden;
}

#coverArt i {
    font-size: var(--width);
}

.bx-album {
    color: var(--album-color);
}