#preview2 ::-webkit-scrollbar {
    width: 10px;
}
#preview2 ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    visibility: hidden;
}
#preview2 ::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
#preview2 ::-webkit-scrollbar-thumb:vertical {
    background-color: #8397aa;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid white;
    background-clip: padding-pox;
    -webkit-background-clip: padding-box;
}
#preview2 * {
    outline: none;
    font-family: Verdana,Arial;
    font-size: 12px;
    font-weight: normal;
}
#preview2 a {
    font-family: Verdana,Arial;
    font-size: 12px;
    text-decoration: none;
    color: Black;
}
#preview2 a:hover {
  text-decoration: underline;
}
#preview2 .hoverImg:hover {
    filter:hue-rotate(180deg) saturate(500%);
}
#preview2 .deadLink {
    text-decoration: none;
}
#preview2 .historyTitle {
    text-decoration: underline;
    text-overflow: ellipsis;
}
#preview2 .historyInfoLink {
    cursor:pointer;
}
#preview2 .historyCoverArt {
    max-width:100%;
    max-height:15px;
    min-width:15px;
    min-height:15px;
}    
#preview2 #coverArt {
    max-width:100%;
    max-height:120px;

    border:1px solid #8397aa;
}
#preview2 #stationList{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #8397aa;
    font-family: Verdana,Arial;
    font-size:12px;
}
#preview2 {
    position: absolute;
    background: white;
    width: var(--width);
    height: var(--height);
    background:linear-gradient(#e5eaf0, white);
    z-index: 9999;
    transition: opacity 250ms;
    opacity: 0;
}
#preview2 .centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#preview2 .scrollerContainer
{
    width: 200px;
    position: absolute;
    height: 14px; 
    display: block;
    overflow: hidden;
}
#preview2 .scrollerText
{
    left: 0px;
    position: absolute;
    white-space: nowrap;
}
#preview2 .details
{
    background-color: rgba(255,255,255,.8);
    border: 2px solid #8397aa;
    z-index: 65535;
    margin: 10px auto;
    padding: 1px 0px 3px 0px;
    position: relative;
    left: 50px;
    top: 16px;
    text-align: center;
    width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 5px #888888;
    -webkit-box-shadow: 0 0 5px #888888;
    line-height: 10px;
}
#preview2 .details a
{
    font-family: Verdana,Arial;
    font-size: 10px;
    font-weight: normal;
}
#preview2 .details-arrow-border
{
    border-color: transparent transparent #8397aa transparent;
    border-style: solid;
    border-width: 5px;
    height: 0;
    width: 0;
    position: absolute;
    top: -12px;
    left: 10px;
}
#preview2 .details-arrow
{
    border-color: transparent transparent #FFFFFF transparent;
    border-style: solid;
    border-width: 5px;
    height: 0;
    width: 0;
    position: absolute;
    top: -9px;
    left: 10px;
}
#preview2 .popup {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    
    align-items: center;
    justify-content: space-around;
    width: var(--width);
    height: var(--height);
}
#preview2 #historyCell {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
}
#preview2 #coverLinkCell {
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
}
#preview2 #nowPlayingContainerCell {
    grid-row: 1 / span 1;
    grid-column: 3 / span 7;
}
#preview2 #volumeCell {
    grid-row: 1 / span 3;
    grid-column: 10 / span 1;
}
#preview2 #nextButtonCell {
    grid-row: 1 / span 3;
    grid-column: 11 / span 1;
}

#preview2 #scrubberCell {
    grid-row: 2 / span 1;
    grid-column: 3 / span 7;
    
    /*put some space between the album art*/
    padding-left: 3px;
}

#preview2 #playPauseButtonCell {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
}
#preview2 #skipButtonCell {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
}
#preview2 #tUpButtonCell {
    grid-row: 3 / span 1;
    grid-column: 5 / span 1;
}
#preview2 #tDownButtonCell {
    grid-row: 3 / span 1;
    grid-column: 6 / span 1;
}
#preview2 #sleepButtonCell {
    grid-row: 3 / span 1;
    grid-column: 7 / span 1;
}
#preview2 #downloadButtonCell {
    grid-row: 3 / span 1;
    grid-column: 8 / span 1;
}
#preview2 #moreInfoButtonCell {
    grid-row: 3 / span 1;
    grid-column: 9 / span 1;
}

#preview2 #historyDiv {
    float:left;
}

#preview2 #prevButtonDiv {
    float:left;
    margin-right: 3px;
    height: 100%;
}

#preview2 #stationHeaderDiv {
    height: 30px;
    width: 100%;
}

#preview2 #stationFilterInput {
    width: 70%;
    height: 100%;
    
    vertical-align: middle;
}

#preview2 #stationRefreshButton {
    width: auto;
    height: 100%;
    vertical-align: middle;
}

#preview2 #stationListDiv {
    height: 70%;
    margin: 3px;
    overflow: auto;
    
}
#preview2 #stationList {
    width: 100%;
    height: 100%;
}

#preview2 #leftPanel {
    width: var(--width);
    height: var(--height);
}
