:root {
    
}


* {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    box-sizing: border-box;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}