body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    opacity: 0;
    transition: opacity 200ms;
}

iframe {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
