
:root {
    --width: 0px;
    --height: 0px;
    --size: calc(var(--width) / 3.9);
}
#preview .container {
    flex-grow: 1;
    height: 100%;
}
#preview *, #preview2 *, #preview, #preview2 {
    outline: none;
    box-sizing: content-box;
    pointer-events: none !important;
    user-select: none !important;
}
#preview a {
    font-family: Verdana,Arial;
    font-size: inherit;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#preview a:hover {
  text-decoration: underline;
}

#preview #coverArt {
    width: 100%;
}
#preview{
    overflow:hidden;
    background:none;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    width: var(--width);
    height: var(--height);
    position: relative;
    float:left;
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    background: #3a3a3a;
    transition: opacity 250ms;
}

#preview .scrollerContainer
{
    width: 200px;
    position: absolute;
    display: block;
    overflow: hidden;
    height: 2em;
    font-size: 14px;
}
#preview .scrollerText
{
    left: 0px;
    position: absolute;
    white-space: nowrap;
}
#preview .panel {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--width);
    height: var(--height);
}
#preview .popup {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#preview .grid-cell {
    display: inline-block;
}
#preview #nowPlayingContainerCell {
    width: 90%;
    height: min-content;
    margin-top: 0.6rem;
}
#preview .scrollerContainer {
    width: 100%;
    position: relative;
}
#preview .scrollerText {
    min-width: 100%;
    text-align: center;
}
#preview #scrubberCell {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#preview #coverLink {
    padding: 0;
    margin: 0;
}
#preview #coverArt {
    min-width: var(--width);
    background: url("/images/new/default_album.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#preview .innerContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: calc(100% - var(--width));
    display: flex;
    flex-direction: row;
    align-items: center;
}

#preview .innerInnerContainer > *{
    display: inline-block;
}

#preview #coverLinkCell {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
}
#preview #scrubber {
    border-radius: 0;
    border: 0;
}
#preview .ui-slider-handle {
    opacity: 0;
}
#preview .ui-slider-horizontal .ui-slider-range {
    border: 0;
    border-radius: 0;
    background: #00F782;
}

#preview .hoverImg {
    width: calc(var(--width)/8);
    fill: white;
}
#preview #prevTab, #preview #nextTab {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
    background: none;
}
#preview #prevTab > span, #preview #nextTab > span {
    opacity: 0.5;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    pointer-events: all;
    z-index:99;
    filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}
#preview #prevTab > span:hover, #preview #nextTab > span:hover {
    opacity: 0.9;
}

#preview #prevTab {
    left: 0;
}
#preview #nextTab {
    right: 0;
}
#preview #prevTab > span {
    background-image: url("/images/new/leftarrow.svg");
}
#preview #nextTab > span {
    background-image: url("/images/new/rightarrow.svg");
}

#preview #volumeCell {
    visibility: hidden;
    display: none;
    opacity: 0;
    z-index: -999;
}

#preview .flex-2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Volume */

#preview #volumeCell > img {
    width: calc(var(--width) / 10);
    pointer-events: none;
}
#preview #volume {
    width: calc(var(--width)/2);
    border: 0;
}
#preview #volumeCell {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: -8px;
}
#preview #volume .ui-slider-handle {
    opacity: 1;
    background: white;
    border: 0;
    height: 10px;
    width: 10px;
    top: -3px;
    border-radius: 100%;
}