* {
    outline: none;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px; 
    font-weight:normal;
    scrollbar-color: rgba(249,249,250,.4) rgba(20,20,25,.3);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #202023;
        --color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --color: black;
    }
}

body {
    background: var(--bg-color);
    color: var(--color);
    width: 100%;

    /* Center horizontally */
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
input, select, .fileUpload {
    display: block;
    font-family: inherit;
    font-size: inherit;
    padding: 5px 8px;
    margin: 2px 0px;
    -moz-appearance: none;
    border: 1px solid rgba(249,249,250,0.2);
    border-radius: 2px;
    color: inherit;
    background-color:  #202023;
    box-sizing: border-box;
    width: 100%;
    height: 26px;
}
input:hover {
    border-color: rgba(249,249,250,0.3) !important;
}
input:enabled:not(:focus):hover {
    border-color: rgba(249,249,250,0.3)
}
input:focus {
    border-color: #0a84ff;
    box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10,132,255,0.3);
}

#check {
    margin-top: 0.4em;
}

input[type="checkbox"]:checked {
    background-image: url("chrome://global/skin/icons/check.svg");
    -moz-context-properties: fill;
    fill: #2292d0;
}

input[type="checkbox"] {
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 1px solid rgba(249,249,250,0.2); 
    border-radius: 2px;
    margin: 0;
    margin-inline-end: 10px;
    background-color: #202023;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

input[type="checkbox"]:not(:disabled):hover {
    border-color: #0a84ff;
}

button:focus,
input[type="checkbox"]:focus {
  outline: 2px solid #0a84ff !important;
  /* offset outline to align with 1px border-width set for buttons/menulists above. */
  outline-offset: -1px !important;
  /* Make outline-radius slightly bigger than the border-radius set above,
   * to make the thicker outline corners look smooth */
  -moz-outline-radius: 3px !important;
  box-shadow: 0 0 0 4px rgba(249,249,250,0.3) !important;
}

button {
    min-width: 6.3em;
    margin-inline: 4px;
    -moz-appearance: none;
    min-height: 32px;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgba(249,249,250,0.1);
    font-weight: 400;
    padding: 0 10px;
    text-decoration: none;
    margin: 4px 4px;
    font-size: 1em;
    padding: 3px;
    font: inherit;
    text-align: center;
}

button:enabled:hover {
    background-color: rgba(249,249,250,0.15);
}

button#save {
    background-color: #0060df;
    color: #FFF !important;
}

button#save:enabled:hover {
    background-color: #003eaa;
}





#preview{
    padding-top:30px;

    overflow:hidden;
    background:none;
    position: relative;
    float:left;
    transition: opacity 250ms;
    opacity: 0;
    border: none;
    transform: scale(0.8);
}


#content {
    width: 80vw;
    padding: 20px;
    box-sizing: border-box;
    background: #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.themeControl {
    background: #202023;
    width: 19%;
    padding: 1em;
    margin-bottom: 1%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}
label {
    width: 100%;
    display: block;
    font-size: medium;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}
.themeControl span {
    flex-grow: 1;
}
#themeControlsHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
h1 {
    font-size: x-large;
}
h1, h2, a {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
h2, a {
    font-size: medium;
}
a:link, a:visited {
    color: blue;
}


#buttons > input {
    width: min-content;
}
#buttons {
    display: flex;
    align-items: center;
    width: min-content;
    margin-top: 30px;
    gap: 4em;
}

input[type="color"] {
    padding: 0;
    border: 0;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    width: max-content;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}












