*
{
    outline: none;
}
body
{
    width: 263px; 
    height: 44px; 
}
a
{
    font-family: Verdana,Arial;
    font-size: 12px; 
    text-decoration: none;
    color: Black;
}
a:hover
{
    text-decoration: underline;
}
#coverArt
{
    width:45px;
    height:45px;
    border: 1px solid #8397aa;
    left: 5px; 
    position: absolute;
    top: 6px;
}
#nowPlayingContainer
{
    position: absolute; 
    left:60px; 
    top:10px; 
    height: 24px; 
    width: 100%; 
    display: block; 
    overflow: hidden;
}
#nowPlaying
{
    left: 0px;
    position: absolute; 
    white-space: nowrap; 
    font-family: Verdana,Arial;
    font-size: 12px; 
}
#playButton
{
    left: 60px;
    top: 30px;
    position: absolute;
}
#pauseButton
{
    left: 60px;
    top: 30px;
    position: absolute;
}
#skipButton 
{
    left: 98px; 
    top: 30px; 
    position: absolute;
}
#tDownButton 
{
    left: 126px;
    top: 30px;
    position: absolute; 
}
#tUpButton 
{
    left: 164px;
    top: 30px; 
    position: absolute;
}
#sleepButton 
{
    left: 202px; 
    top: 30px; 
    position: absolute;
}
