* {
    outline: none;
    font-family: Verdana,Arial;
    font-size: 12px; 
    font-weight:normal;
}
body {
	background:linear-gradient(#0058c0,white) no-repeat;
}
#lastFmStatus
{
    padding: 10px 0px 0px 10px;
}
