* {
    outline: none;
    font-family: Verdana,Arial;
    font-size: 12px; 
    font-weight:normal;
}
body {
	background:linear-gradient(#0058c0,white) no-repeat;
}
#lastFmStatus
{
    padding: 10px 0px 0px 10px;
}
.options-group {
	border: 1px solid black;
	font-style: italic;
}

.options-button {
	margin-top:20px;
	text-align:center;
	width:100%; 
	
	border:1px solid black;
	background-color:gray;
	color:white;
	font-weight:bold;
}