::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    visibility: hidden;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: #8397aa;
    -webkit-border-radius: 5px;
    border: 2px solid white;
    -webkit-background-clip: padding-box;
}
* {
    outline: none;
    font-family: Verdana,Arial;
    font-size: 12px;
    font-weight: normal;
}
body {
	overflow:hidden;
	overflow-y:hidden;
/*	width:600px;*/

	background:linear-gradient(#e5eaf0,white);
}
a {
    font-family: Verdana,Arial;
    font-size: 12px;
    text-decoration: none;
    color: Black;
}
a:hover {
    text-decoration: underline;
}
.deadLink {
    text-decoration: none;
}
#coverArt {
	max-width:100%;
	max-height:44px;
	border:1px solid #8397aa;
}
#stationList{
	-webkit-border-radius:5px;
	border:1px solid #8397aa;
	font-family: Verdana,Arial;
	font-size:12px;
}
#anesidora{
	position:absolute;
	float:left;
}
.scrollerContainer
{
    width: 200px;
    position: absolute;
    height: 14px;
    display: block;
    overflow: hidden;
}
.scrollerText
{
    left: 0px;
    position: absolute;
    white-space: nowrap;
}
.details
{
    background-color: rgba(255,255,255,.8);
    border: 2px solid #8397aa;
    z-index: 65535;
    margin: 10px auto;
    padding: 1px 0px 3px 0px;
    position: relative;
    left: 50px;
    top: 16px;
    text-align: center;
    width: 100px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 0 5px #888888;
    line-height: 10px;
}
.details a
{
    font-family: Verdana,Arial;
    font-size: 10px;
    font-weight: normal;
}
.details-arrow-border
{
    border-color: transparent transparent #8397aa transparent;
    border-style: solid;
    border-width: 5px;
    height: 0;
    width: 0;
    position: absolute;
    top: -12px;
    left: 10px;
}
.details-arrow
{
    border-color: transparent transparent #FFFFFF transparent;
    border-style: solid;
    border-width: 5px;
    height: 0;
    width: 0;
    position: absolute;
    top: -9px;
    left: 10px;
}
